<!-- <input type="text" name="" id="" [(ngModel)]="productName">
<button (click)="addProduct()" [disabled]="isDisabled">Add product</button>
<app-product (productClickEvent)="removeProduct(product)" *ngFor="let product of productList" [productName]="product"></app-product> -->

<form (ngSubmit)="addProduct(f)" #f=ngForm>
    <input type="text" ngModel name="productName" id="">
    <button type="submit">Add product</button>
</form>
<app-product (productClickEvent)="removeProduct(product)" *ngFor="let product of productList" [productName]="product"></app-product>