<section class="container">
  <form [formGroup]="newTrainingForm" (ngSubmit)="startTraining()">
    <mat-card>
      <mat-card-title>Time to start workout</mat-card-title>
      <mat-card-content>Select type of training</mat-card-content>
      <mat-form-field>
        <mat-label>Favorite exercise</mat-label>
        <mat-select formControlName="exercise">
          <mat-option *ngFor="let i of exercises" [value]="i.id">
            {{ i.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit" [disabled]="!newTrainingForm.valid">Start</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>

