/*`<mat-card>` uses `.mdc-card` internally. You can control mat-card's css only with `.mdc-card` class.*/
.mdc-card{
    padding: 2%;
    width: 50%;
    align-items: center;
    row-gap: 20px;
}

mat-card-title, mat-card-content{
    border: 0px solid black;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    padding: 2%;
}

mat-form-field{
    width: 50%;
    border: 0px solid black;
}