<!-- 
mat-container: has following children
    mat-sidenav : This is for side nav bar.
    mat-sidenav-content: This is display actual component in main screen.
-->
<mat-sidenav-container>
  <!-- //mat-sidenav always needs to be a direct child of mat-sidenav-container, it's not a good idea to separate it into saperate component -->
  <mat-sidenav opened="{{ openSideNav }}">
    <app-sidenav-list (toggleSideNavEvent)="toggleSideNav()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (toggleSideNavEvent)="toggleSideNav()"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<mat-divider></mat-divider>
<button mat-raised-button color="accent">click me</button> -->
