mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 25%;
}

/* ul{
    width: 25%;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 5%;
    overflow-x: hidden;
} */
