<section>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email" email required />
      <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">Email cannot be empty</mat-error>
      <mat-error>Invalid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Your password" formControlName="password" required minlength="6"/>
      <mat-hint>Should be 6 characters long</mat-hint>
      <mat-hint align="end">{{signUpForm.controls['password'].value.length}}/6</mat-hint>
      <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">Password cannot be empty</mat-error>
      <mat-error>Password must be atleast 6 chraracters long</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <!-- [max] dataBinding is used to set max date that user can select -->
        <input matInput [matDatepicker]="picker" formControlName="datepicker" [max]="maxDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="signUpForm.controls['datepicker'].hasError('required')">Birthdate cannot be empty</mat-error>
    </mat-form-field>      
    <mat-checkbox formControlName="agreeToTerms" required>Agree to terms and conditions</mat-checkbox>    
    <button mat-raised-button color="accent" type="submit" [disabled]="signUpForm.invalid">submit</button>
  </form>
</section>
