<h1 mat-dialog-title>Are you sure</h1>
<mat-dialog-content>
  <p>Hi {{data.name}}!</p>
  <p>You progressed {{ data.progress }}% already</p>
</mat-dialog-content>
<mat-dialog-actions>
  <!-- Here mat-dialog-close is directive provided by angular-material
       These directives, will return an observable, which is subscribe in 'current-training.component.ts'
   -->
  <button mat-button [mat-dialog-close]="true">Yes</button>
  <button mat-button [mat-dialog-close]="false">No</button>
</mat-dialog-actions>
